.companyLogo {
  display: grid;
  place-items: center;
  flex-shrink: 0;
}

.companyLogoSmall {
  width: 5rem;
  height: 5rem;
  border-radius: var(--border-radius-l);
  margin-bottom: 2.2rem;
}

.companyLogoBig {
  width: 14rem;
}

.companyLogoBig img {
  width: 58%;
}

@media (max-width: 48.12em) {
  .companyLogoBig {
    width: 8rem;
    height: 8rem;
    border-radius: var(--border-radius-l);
    position: absolute;
    transform: translateY(-50%);
  }
}
