.job {
  padding: 1rem 3.2rem 3.2rem;
  color: var(--color-dark-grey);
  position: relative;
}

.job::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 3.5rem);
  background-color: var(--color-white);
  border-radius: var(--border-radius-s);
}

.job > * {
  position: relative;
}

.jobInfos {
  display: flex;
  align-items: baseline;
  gap: 1.2rem;
}

.jobInfosDivider {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 100%;
  background-color: var(--color-dark-grey);
}

.jobPosition {
  color: var(--color-very-dark-blue);
  padding: 1.2rem 0;
}

.jobLocation {
  color: var(--color-violet);
  padding-top: 4rem;
}
