.jobsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 8rem 0 0;
  width: 100%;
}

@media (max-width: 75em) {
  .jobsGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 48.12em) {
  .jobsGrid {
    grid-template-columns: 1fr;
    padding-top: 4rem;
  }
}
