.toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
}

.toggleButton {
  width: 4.8rem;
  height: 2.4rem;
  border-radius: var(--border-radius-m);
  position: relative;
}

.toggleButton::before {
  content: '';
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  background-color: var(--color-violet);
  border-radius: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}

.toggleButton[data-active-theme='light']::before {
  left: 0.5rem;
}

.toggleButton[data-active-theme='dark']::before {
  right: 0.5rem;
}
