.app {
  min-height: 100vh;
  background-color: var(--background-color);
  overflow: auto;
}

.app[data-theme='light'] {
  --background-color: var(--color-light-grey);
}

.app[data-theme='dark'] {
  --background-color: var(--color-midnight);
}
