.button {
  font-size: var(--font-size-body);
  font-weight: 700;
  border-radius: var(--border-radius-xs);
  padding: 1.6rem 1rem;
  text-transform: capitalize;
  width: 14rem;
  transition: 0.2s linear;
}

.buttonPrimary {
  color: var(--color-white);
  background-color: var(--color-violet);
}

.buttonPrimary:hover {
  background-color: var(--color-light-violet);
}

.buttonSecondary {
  color: var(--color-btn-2);
  background-color: var(--background-color-btn-2);
}

.buttonSecondary:hover {
  background-color: var(--background-color-btn-2-hover);
}
