.button {
  font-size: var(--font-size-body);
  font-weight: 700;
  border-radius: var(--border-radius-xs);
  padding: 1.6rem 4rem;
  text-transform: capitalize;
}

.buttonPrimary {
  color: var(--color-white);
  background-color: var(--color-violet);
}
